<div>
    MISION : Se conoce como misión a la función, encargo, o propósito que una persona debe de cumplir, por
    ejemplo: su misión era supervisar y
    vigilar las funciones de su equipo de trabajo. La palabra misión viene del latín misisio y el sufijo –sio,
    entendiéndose como la acción de ser enviado, encargo.
</div>
<br>
<div>
    VISION : Se conoce como misión a la función, encargo, o propósito que una persona debe de cumplir, por
    ejemplo: su misión era supervisar y
    vigilar las funciones de su equipo de trabajo. La palabra misión viene del latín misisio y el sufijo –sio,
    entendiéndose como la acción de ser enviado, encargo.
</div>

<br>
<div>
    PROYECTO: Se conoce como misión a la función, encargo, o propósito que una persona debe de cumplir, por
    ejemplo: su misión era supervisar y
    vigilar las funciones de su equipo de trabajo. La palabra misión viene del latín misisio y el sufijo –sio,
    entendiéndose como la acción de ser enviado, encargo.
</div>
<button type="button" class="btn btn-primary">Primary</button>
