.border-link::after{
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.border-link:hover::after{
  width: 100%;
  background: white;
}

img {
  width: 50%;
  height: 50%;
}

div {
  background-color: black;
  
}



.navbar-light .navbar-nav .nav-link {
  color:goldenrod;
}