.border-link::after{
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.border-link:hover::after{
  width: 100%;
  background: white;
}
.a{
  font-family: 'Montserrat',
  sans-serif;
}
@media (max-width: 600px) {
  
    .navbar-light .navbar-toggler-icon {
      background: #fff;
      color: #000;
  }
  .menuprincipal{
   
      color: #000;
  }

  }

div {
  background-color: black;
  
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(247, 247, 247);
}
.m-auto {

  align-items: center;
  margin: auto;
}

