/* header*/
/*
.border-link::after{
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.border-link:hover::after{
  width: 100%;
  background: white;
}
a{
  font-family: 'Montserrat',
  sans-serif;
  font-weight: bold;
  font-size: large;
  
}
@media (max-width: 600px) {
  
    .navbar-light .navbar-toggler-icon {
      background: black;
      
      font-weight: bold;
  }
 

  }



.navbar-light .navbar-nav .nav-link {
  color: rgb(247, 247, 247);
}
.m-auto {

  align-items: center;
  margin: auto;
}
#contenedor{
	width: 100%; margin: 0 auto;
}
*/