<div style="text-align: center;">
  <a class="meunprincipal" href="#">
    <img src="./assets/logo2.jpg" alt=""  style="width: 50%; height: 50%;">
  </a>
</div>
<nav class="navbar-expand-lg navbar-light bg-light">
  <div class="row m-0  justify-content-center p-2">
    
    <div class="col-lg-4 col-xl-4 col-md-10 col-sm-10 col-10 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" (click)="show()" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <img src="../../../assets/menu.svg">
        </span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav m-auto">
          <li class="nav-item active border-link mx-2">
            <a class="nav-link p-0 px-2 pt-2 pb-1" routerLink="" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item active border-link mx-2">
            <a class="nav-link p-0 px-2 pt-2 pb-1" routerLink="/nosotros" routerLinkActive="active">{{'NAV.US' | translate}}</a>
          </li>
          <li class="nav-item border-link mx-2">
            <a class="nav-link p-0 px-2 pt-2 pb-1" routerLink="/abogados" routerLinkActive="active">{{'NAV.LAWYER' | translate}}</a>
          </li>
          <li class="nav-item mx-2">
            <div class="form-group m-0 pt-1">
              <select class="form-control form-control-sm border-0" (change)="selectLeague($event)"
                style="background-color: black; color: #ffff;">
                <option value="es">ES</option>
                <option value="en">EN</option>
              </select>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
