<!DOCTYPE html>

<body>
    <div>
        <h1 routerLink="/" routerLinkActive="active"> LOGOS 
        </h1>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/abogados" routerLinkActive="active">Abogados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Oficinas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
            </li>
        </ul>
        <router-outlet></router-outlet>
    </div>
</body>