<ng-container>
  <section class="footer">
    <div class="row m-0 d-flex justify-content-center py-3">
      <div class="col-10 col-md-3 col-lg-4 mb-2">
        <div class="row m-0 p-0 d-flex align-items-center">
          <div class="col-3">
            <img src="../../../assets/phone.svg" alt="" width="50" height="50">
          </div>
          <div class="col-9 col-md-9">
            <p class="m-0 text-white p-footer">{{ 'FOOTER.CALLNOW' | translate}}</p>
            <img src="../../../assets/colombia.svg" alt="" width="20" height="20">
            <p class="m-0 text-white p-footer"> (301) 582-0657</p>
            <img src="../../../assets/estados-unidos.svg" alt="" width="20" height="20">
            <p class="m-0 text-white p-footer"> (305) 497-7656</p>
            <img src="../../../assets/puerto-rico.svg" alt="" width="20" height="20">
            <p class="m-0 text-white p-footer">(787) 463-1363</p>
            
          </div>
        </div>
      </div>
      <div class="col-10 col-md-3 col-lg-4 mb-2">
        <div class="row m-0 p-0 d-flex align-items-center">
          <div class="col-3">
            <img src="../../../assets/placeholder.svg" alt="" width="50" height="50">
          </div>
          <div class="col-9">
            <p class="text-white m-0 p-footer">{{ 'FOOTER.VISITOFFICE' | translate}}</p>
            <img src="../../../assets/colombia.svg" alt="" width="20" height="20">
            <p class="text-white m-0 p-footer">Cra 24 #35-43 Bucaramanga, Colombia</p>
            <img src="../../../assets/estados-unidos.svg" alt="" width="20" height="20">
            <p class="text-white m-0 p-footer"> 13727 SW 152 ST, suite 726 Miami, FL 33177</p>
            <img src="../../../assets/puerto-rico.svg" alt="" width="20" height="20">
            <p class="text-white m-0 p-footer">Domenech 220 # 2036 San Juan, PR 00918</p>
          </div>
        </div>
      </div>
      <div class="col-10 col-md-3 col-lg-4 mb-2">
        <div class="row m-0 p-0 d-flex align-items-center">
          <div class="col-3">
            <img src="../../../assets/email.svg" alt="" width="50" height="50">
          </div>
          <div class="col-9">
            <p class="text-white m-0 p-footer">{{ 'FOOTER.SENDMESSAGE' | translate}}</p>
            <img src="../../../assets/colombia.svg" alt="" width="20" height="20">
            <p class="text-white m-0 p-footer">colombia@criminallegalassociates.com</p>
            <img src="../../../assets/estados-unidos.svg" alt="" width="20" height="20">
            <p class="text-white m-0 p-footer">unitedstates@criminallegalassociates.com</p>
            <img src="../../../assets/puerto-rico.svg" alt="" width="20" height="20">
            <p class="text-white m-0 p-footer">puertorico@criminallegalassociates.com</p>
          </div>
        </div>
      </div>
      <div class="col-12 mb-2">
        <div class="row m-0 d-flex  align-items-center pt-3">
          <div class="col-8 col-md-3 col-lg-3 p-0 text-white" >
            <a class="whatsapp" style="font-style: oblique;" href="https://api.whatsapp.com/send?phone=573012145455&text='Necesito%20asesoria%20para%20mi%20pagina%20web'" target="_blank">
            Creado por: Ivan Ricardo Diaz C.
            <br>
            <a>
              <img src="../../../assets/colombia.svg" alt="" width="20" height="20">
               +57 (301-214-5455)
            </a>
          </a>
        </div>
          <div class="col-5 col-md-1 col-lg-1 p-0">

          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>