@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.footer{
  background-color: transparent;
  
}

@media(width: 100%){
.footer{
 word-break: break-word;
}
}

section{
  width: 100%;
}

.p-footer{
  font-family: 'Montserrat',
  sans-serif;
  
}
#contenedor{
	width: 90%; margin: 0 auto;
}



