<ng-container>
  <section class="footer">
    <div class="row m-0 d-flex justify-content-center py-3">
      <div class="col-10 col-md-3 col-lg-3 mb-2">
        <div class="row m-0 p-0 d-flex align-items-center">
          <div class="col-3">
            <img src="../../../assets/phone.svg" alt="" width="50" height="50">
          </div>
          <div class="col-9 col-md-9">
            <p class="m-0 text-white p-footer">{{ 'FOOTER.CALLNOW' | translate}}</p>
            <p class="m-0 text-white p-footer">(888) 453-1234</p>
            <p class="m-0 text-white p-footer">{{ 'FOOTER.FREE' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="col-10 col-md-3 mb-2">
        <div class="row m-0 p-0 d-flex align-items-center">
          <div class="col-3">
            <img src="../../../assets/email.svg" alt="" width="50" height="50">
          </div>
          <div class="col-9">
            <p class="text-white m-0 p-footer">{{ 'FOOTER.CALLNOW' | translate}}</p>
            <p class="text-white m-0 p-footer">info@example.com</p>
            <p class="text-white m-0 p-footer">{{ 'FOOTER.FREE' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="col-10 col-md-3 mb-2">
        <div class="row m-0 p-0 d-flex align-items-center">
          <div class="col-3">
            <img src="../../../assets/placeholder.svg" alt="" width="50" height="50">
          </div>
          <div class="col-9">
            <p class="text-white m-0 p-footer">{{ 'FOOTER.VISITOFFICE' | translate}}</p>
            <p class="text-white m-0 p-footer">222 Main St, Salt Lake City, UT</p>
          </div>
        </div>
      </div>
      <div class="col-12 mb-2">
        <div class="row m-0 d-flex justify-content-center align-items-center pt-3">
          <div class="col-8 col-md-3 col-lg-3 p-0 text-white">
            LawPress © All Rights Reserved
          </div>
          <div class="col-5 col-md-1 col-lg-1 p-0">
            <div class="form-group col-md-6 p-0 m-0">
              <select class="form-control form-control-sm border-0 text-white" (change)="selectLeague($event)" style="background-color: transparent;">
                <option value="es">ES</option>
                <option value="en">EN</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
