<ng-container>
  <!--
  <div class="row m-0 p-0">
    <div class="col-12">
      <h1 class="text-white" style="text-align: center;">{{'LAWYER' | translate}}</h1>
    </div>
    <div class="col-12 my-3">
      <div class="row m-0 p-0 d-flex justify-content-center">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-1 d-flex justify-content-center">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" >
                <img src="./assets/richard2.jpg" alt="Avatar" style="width:100%; height:100%;border-radius: 10px;">
              </div>
              <div class="flip-card-back px-3">
                <h1 class="title-lawyer estilo-letra text-center p-0 mt-2">Richard O. Dansoh</h1>
                <p class="estilo-letra text-justify">{{'LAWYERS.LAWYERRICHARD' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-1 d-flex justify-content-center">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="./assets/ricardo2.png" alt="Avatar" style="width:auto;height:100%;border-radius: 10px;">
              </div>
              <div class="flip-card-back px-3">
                <h1 class="title-lawyer estilo-letra text-center p-0 mt-2"> Ricardo Diaz C </h1>
                <p class="estilo-letra text-justify">{{'LAWYERS.LAWYERJOSE' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-1 d-flex justify-content-center">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="./assets/alan.jpg" alt="Avatar" style="width:100%; height:100%;border-radius: 10px;">
              </div>
              <div class="flip-card-back px-3">
                <h1 class="title-lawyer estilo-letra text-center p-0 mt-2"> Alan Gonzalez Barone </h1>
                <p class="estilo-letra text-justify">{{'LAWYERS.LAWYERALAN' | translate}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-1 d-flex justify-content-center">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="./assets/felix.png" alt="Avatar" style="width:auto;height:100%;border-radius: 10px;">
              </div>
              <div class="flip-card-back px-3">
                <h1 class="title-lawyer estilo-letra text-center p-0 mt-2"> Felix Portes </h1>
                <p class="estilo-letra text-justify">{{'LAWYERS.LAWYERFELIX' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    WHATSAPP 
   <div class="whatsapp">
    <a href="https://api.whatsapp.com/send?phone=13054977656&text='Hola,%20necesito%20ayuda%20legal'" target="_blank">
      <img src="../../assets/whatsapp.png" alt="logo_whatsapp" srcset="" width="70">
    </a>
  </div>
</ng-container>
-->

<div class="movie_card" id="ricardo">
  <div class="info_section">
    <div class="lawyer_header">
      <img class="locandina" src="../../assets/ricardo2.png" />
        
      <h1>Ricardo Diaz C</h1>
    </div>
    
    <div class="movie_desc">
      <p class="text">{{'LAWYERS.LAWYERJOSE' | translate}}</p>
    </div>
  </div>
</div>

<div class="movie_card" id="richard">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="../../assets/richard2.jpg" />
      <h1>Richard O. Dansoh</h1>
    </div>
    <div class="movie_desc">
      <p class="text">{{'LAWYERS.LAWYERRICHARD' | translate}}</p>
    </div>
  </div>
  <div class="blur_back richard_back"></div>
</div>

<div class="movie_card" id="ave">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="https://mr.comingsoon.it/imgdb/locandine/235x336/53715.jpg"/>
      <h1>Black Panther</h1>
      <h4>2018, Ryan Coogler</h4>
      <span class="minutes">134 min</span>
      <p class="type">Action, Adventure, Sci-Fi</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        T'Challa, the King of Wakanda, rises to the throne in the isolated, technologically advanced African nation, but his claim is challenged by a vengeful outsider who was a childhood victim of T'Challa's father's mistake. 
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li><i class="material-icons">share</i></li>
        <li><i class="material-icons"></i></li>
        <li><i class="material-icons">chat_bubble</i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back ave_back"></div>
</div>