<ng-container>
  <div class="row m-0 p-0">
    <div class="col-12">
      <h1 class="text-center estilo-letra py-3">{{'LAWYER' | translate}}</h1>
      <div class="row m-0 p-0 d-flex justify-content-center">
        <div class="col-8">
          <p class="estilo-letra">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nobis consectetur magni nesciunt eveniet. Blanditiis et dolores quas enim labore quo unde nihil iure maiores tempora quis, id nesciunt expedita!</p>
        </div>
        
        <div class="col-6" style="text-align: center;">
            <img src="./assets/richard.png" style="width: 65%; height: 65%;">
            <h1> Richard O. Dansoh </h1>
            El doctor ricardo es un abogado graduado de la universidad (UNICIENCIA), especializado en derecho
            constitucional
            tiene 50 años de edad, es una excelente abogado muy empatico con sus clientes y siempre busca el
            beneficio de ellos
        </div>

        <div class="col-6" style="text-align: center;">
          <img src="./assets/ricardo.png" style="width: 65%; height: 65%;">
          <h1> Richard O. Dansoh </h1>
          El doctor ricardo es un abogado graduado de la universidad (UNICIENCIA), especializado en derecho
          constitucional
          tiene 50 años de edad, es una excelente abogado muy empatico con sus clientes y siempre busca el
          beneficio de ellos
      </div>
      </div>
    </div>
  </div>
</ng-container>
