<ng-container>
  <div class="row m-0 p-0">
    <div class="col-12">
      <h1 class="text-center estilo-letra py-3">{{'LAWYER' | translate}}</h1>
      <div class="row m-0 p-0 d-flex justify-content-center">
        <div class="col-8">
          <p class="estilo-letra">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nobis consectetur magni nesciunt eveniet. Blanditiis et dolores quas enim labore quo unde nihil iure maiores tempora quis, id nesciunt expedita!</p>
        </div>
      </div>
    </div>
    <div class="col-12 my-3">
      <div class="row m-0 p-0">
        <div class="col-md-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="./assets/ricardo.png" alt="Avatar" style="width:300px;height:300px;border-radius: 10px;">
              </div>
              <div class="flip-card-back px-3">
                <h1 class="title-lawyer estilo-letra text-center p-0 mt-2">Jose Ricardo Diaz C</h1>
                <p class="estilo-letra text-justify">El doctor ricardo es un abogado graduado de la universidad (UNICIENCIA),
                  especializado en derecho
                  constitucional
                  tiene 50 años de edad, es una excelente abogado muy empatico con sus clientes y siempre busca el
                  beneficio de ellos</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="./assets/ivan.png" alt="Avatar" style="width:300px;height:300px;border-radius: 10px;">
              </div>
              <div class="flip-card-back px-3">
                <h1 class="title-lawyer estilo-letra text-center p-0 mt-2">Richard O. Dansoh</h1>
                <p class="estilo-letra text-justify">El doctor ricardo es un abogado graduado de la universidad (UNICIENCIA),
                  especializado en derecho
                  constitucional
                  tiene 50 años de edad, es una excelente abogado muy empatico con sus clientes y siempre busca el
                  beneficio de ellos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
