<ng-container>
  <section>
   <!--Logo-->
   <section id="contenedor">
    <div style="text-align: center;">
      <a class="menuprincipal" href="#">
        <img src="../../assets/logo2.png" alt="" style="width: 50%; height: 50%;">
      </a>
    </div>
  </section>
  <!-- Navbar-->
  <header class="header">
    <nav class="navbar navbar-expand-lg fixed-top py-3">
      <div class="container"><a href="#" class="navbar-brand text-uppercase font-weight-bold">| Criminal Legal Associates |</a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link text-uppercase font-weight-bold" routerLink=""
                routerLinkActive="active">{{'NAV.HOME'| translate}}</a>
            </li>
            <li>
              <a class="nav-link text-uppercase font-weight-bold" routerLink="/nosotros"
                routerLinkActive="active">{{'NAV.US' | translate}}</a>
            </li>
            <li>
              <a class="nav-link text-uppercase font-weight-bold" routerLink="/abogados"
                routerLinkActive="active">{{'NAV.LAWYER' | translate}}</a>
            </li>
            <li class="nav-item mx-2">
              <div class="form-group m-0 pt-1" id="idiomas">
                <select class="form-control form-control-sm border-0" (change)="selectLeague($event)">
                  <option value="es">ES</option>
                  <option value="en">EN</option>
                </select>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
    <!-- Areas -->
    <section id="contenedor">
      <div class="areas">
        <div class="text-center">
          <h1 class="font-weight-light" style="color: white;">{{'OURSPECIALTIES' | translate}}</h1>
        </div>
        <div class="container-fluid mt-5">
          <div class="row d-flex justify-content-end areas1">
            <div class="col-6 col-sm-4 col-md-4 col-md-2 col-lg-3 card-columns">
              <div class="card border-0 active-card" style="width: 12rem;">
                <div class="border px-1 py-4 rounded">
                  <img src="../../assets/mazo.svg" class="card-img-top" alt="criminales" width="60" height="60">
                </div>
                <div class="card-body mt-3 border-body pb-2 text-center">
                  <h5 class="card-title">{{'CRIMINALAW' | translate}}</h5>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-md-2 col-lg-3 card-columns">
              <div class="card border-0 active-card" style="width: 12rem;">
                <div class="border px-1 py-4 rounded">
                  <img src="../../assets/divorcio.svg" class="card-img-top" alt="criminales" width="60" height="60">
                </div>
                <div class="card-body mt-3 border-body pb-2 text-center">
                  <h5 class="card-title">{{'DIVORCES' | translate}}</h5>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-md-2 col-lg-3 card-columns">
              <div class="card border-0 active-card" style="width: 12rem;">
                <div class="border px-1 py-4 rounded">
                  <img src="../../assets/maletin.svg" class="card-img-top" alt="criminales" width="60" height="60">
                </div>
                <div class="card-body mt-3 border-body pb-2 text-center">
                  <h5 class="card-title">{{'INDUSTRIAL' | translate}}</h5>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-md-2 col-lg-3 card-columns">
              <div class="card border-0 active-card" style="width: 12rem;">
                <div class="border px-1 py-4 rounded">
                  <img src="../../assets/book.svg" class="card-img-top" alt="criminales" width="60" height="60">
                </div>
                <div class="card-body mt-3 border-body pb-2 text-center">
                  <h5 class="card-title">{{'CORPORATE' | translate}}</h5>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-md-2 col-lg-3 card-columns">
              <div class="card border-0 active-card" style="width: 12rem;">
                <div class="border px-1 py-4 rounded">
                  <img src="../../assets/hucha.svg" class="card-img-top" alt="criminales" width="60" height="60">
                </div>
                <div class="card-body mt-3 border-body pb-2 text-center">
                  <h5 class="card-title">{{'FINANCIAL' | translate}}</h5>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-md-2 col-lg-3 card-columns">
              <div class="card border-0 active-card" style="width: 12rem;">
                <div class="border px-1 py-4 rounded">
                  <img src="../../assets/choque-de-autos.svg" class="card-img-top" alt="criminales" width="60"
                    height="60">
                </div>
                <div class="card-body mt-3 border-body pb-2 text-center">
                  <h5 class="card-title">{{'ACCIDENTS' | translate}}</h5>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-md-2 col-lg-3 card-columns">
              <div class="card border-0 active-card" style="width: 12rem;">
                <div class="border px-1 py-4 rounded">
                  <img src="../../assets/yate.svg" class="card-img-top" alt="criminales" width="60" height="60">
                </div>
                <div class="card-body mt-3 border-body pb-2 text-center">
                  <h5 class="card-title">{{'PORT' | translate}}</h5>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-md-2 col-lg-3 card-columns">
              <div class="card border-0 active-card" style="width: 12rem;">
                <div class="border px-1 py-4 rounded">
                  <img src="../../assets/arboles.svg" class="card-img-top" alt="criminales" width="60" height="60">
                </div>
                <div class="card-body mt-3 border-body pb-2 text-center">
                  <h5 class="card-title">{{'ENVIRONMENTAL' | translate}}</h5>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- HELP -->
    <section id="contenedor">
      <div class="help">
        <div class="row m-0 p-0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 p-0 ">
            <div class="px-4" style="width: 100%; height: 100%;">
              <h1 class="text-white" style="text-align: center;">{{'NEEDHELPTITULO' | translate}}</h1>
              <h1 class="text-white title-help-legal pt-1 estilo-letra">{{'NEEDHELP' | translate}}</h1>
              <br>
              <br>
              <p class="text-white text-justify estilo-letra"> {{'NEEDHELP1' | translate}}</p>
              <br>
              <br>
              <p class="text-white text-justify estilo-letra">{{'NEEDHELP2'| translate}}</p>
              <br>
              <br>
              <p class="text-white text-justify estilo-letra">{{'NEEDHELP3'|translate}}</p>
              <br>
              <br>
              <p class="text-white text-justify estilo-letra">{{'NEEDHELP4'|translate}}</p>

            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6" style=" color: white;">
            <h1 class="text-white" style="text-align: center;">{{'WHY' | translate}}</h1>
            <p class="text-white text-justify estilo-letra">{{'WHY1' |translate}}</p>
            <div class="row m-0 p-0">
              <div class="col-12">
                <div class="row m-0 p-0">
                  <div class="col-md-2 d-flex justify-content-center p-0">
                    <div class="border-2 rounded-circle d-flex justify-content-center align-items-center mb-2">
                      <img src="../../assets/abogado.svg" alt="" srcset="" width="70" height="80">
                      |
                    </div>
                  </div>
                  <div class="col-md-10">
                    <h5 class="font-weight-bold estilo-letra">{{'TEAM' | translate}}</h5>
                    <p class="text-white text-justify estilo-letra">{{'TEAM1'|translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="row m-0 p-0">
                  <div class="col-md-2 d-flex justify-content-center p-0">
                    <div class="border-2 rounded-circle d-flex justify-content-center align-items-center mb-2">
                      <img src="../../assets/analisis.svg" alt="" srcset="" width="70" height="70">
                    </div>
                  </div>
                  <div class="col-md-10">
                    <h5 class="font-weight-bold estilo-letra">{{'BEST' | translate}}</h5>
                    <p class="text-white text-justify estilo-letra">{{'BEST1'|translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="row m-o p-0">
                  <div class="col-md-2 d-flex justify-content-center p-0">
                    <div class="border-2 rounded-circle d-flex justify-content-center align-items-center mb-2">
                      <img src="../../assets/reviews.svg" alt="" srcset="" width="70" height="80">
                    </div>
                  </div>
                  <div class="col-md-10">
                    <h5 class="font-weight-bold estilo-letra">{{'REVIEW' | translate}}</h5>
                    <p class="text-white text-justify estilo-letra">{{'REVIEW1'|translate}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contacto -->
    <section id="contenedor">
      <div class="contact pb-5">
        <h1 class="title-testimonio estilo-letra text-center pt-4">{{'CONTACTUS' | translate}}</h1>
        <div class="row m-0 p-0 d-flex justify-content-center mt-5">
          <div class="col-md-6">
            <form (ngSubmit)="guardar(formulario)" autocomplete="off" #formulario="ngForm" class="formulario">
              <div class="form-group">
                <label for="nombre" class="estilo-letra"> {{'LBL_NAME' | translate}}</label>
                <input type="text" class="form-control " id="nombre" [ngModel]="usuario.nombre" name="nombre">
              </div>
              <div class="form-group">
                <label for="telefono" class="estilo-letra"> {{'LBL_PHONE' | translate}}</label>
                <input type="number" class="form-control" id="telefono" [ngModel]="usuario.telefono" name="telefono"
                  minlength="8">
              </div>
              <div class="form-group">
                <label for="correo" class="estilo-letra"> {{'LBL_EMAIL' | translate}}</label>
                <input type="email" class="form-control" id="correo" [ngModel]="usuario.correo" name="correo">
              </div>
              <div class="form-group">
                <label for="mensaje" class="estilo-letra"> {{'LBL_MESSAGE' | translate}}</label>
                <textarea class="form-control" id="mensaje" rows="5" [ngModel]="usuario.mensaje"
                  name="mensaje"></textarea>
              </div>
              <button type="submit" class="btn btn-outline-primary outline rounded-pill btn-block">{{'BTN_SEND'
                |translate}}</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- WHATSAPP -->
    <div class="whatsapp">
      <a href="https://api.whatsapp.com/send?phone=13054977656&text='Hola,%20necesito%20ayuda%20legal'" target="_blank">
        <img src="../../assets/whatsapp.png" alt="logo_whatsapp" srcset="" width="70">
      </a>
    </div>

    <!--Footer-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <section id="footer">
      <div class="container">
        <div class="row m-0 d-flex justify-content-center py-3 align-items-center">
          <!--LLamenos-->
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>
              <img src="../../../assets/phone.svg" alt="" width="50" height="50">
            </h5>
            <ul class="list-unstyled quick-links">
              <li>
                <p class="m-0  p-footer">{{ 'FOOTER.CALLNOW' | translate}}</p>
                <img src="../../../assets/colombia.svg" alt="" width="30" height="30">
                <p></p>
                <a class="m-0  p-footer" href="tel:+573012145455">(301) 582-0657</a>
                <p></p>
                <img src="../../../assets/estados-unidos.svg" alt="" width="30" height="30">
                <p></p>
                <a class="m-0  p-footer" href="tel:+13054977656"> (305) 497-7656</a>
                <p></p>
                <img src="../../../assets/puerto-rico.svg" alt="" width="30" height="30">
                <p></p>
                <a class="m-0  p-footer" href="tel:+10087874631363">(787) 463-1363</a>
            </ul>
          </div>
          <!-- Ubicacion-->
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>
              <img src="../../../assets/placeholder.svg" alt="" width="50" height="50">
            </h5>
            <ul class="list-unstyled quick-links">
              <li>
                <p class=" m-0 p-footer">{{ 'FOOTER.VISITOFFICE' | translate}}</p>
                <img src="../../../assets/colombia.svg" alt="" width="30" height="30">
                <p></p>
                <p class=" m-0  m-0 p-footer">Cra 24 #35-43 Bucaramanga, Colombia</p>
                <p></p>
                <img src="../../../assets/estados-unidos.svg" alt="" width="30" height="30">
                <p></p>
                <p class="m-0  m-0 p-footer"> 13727 SW 152 ST, suite 726 Miami, FL 33177</p>
                <p></p>
                <img src="../../../assets/puerto-rico.svg" alt="" width="30" height="30">
                <p></p>
                <p class=" m-0  m-0 p-footer">Domenech 220 # 2036 San Juan, PR 00918</p>
              </li>
            </ul>
          </div>
          <!--Escribenos-->
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>
              <img src="../../../assets/email.svg" alt="" width="50" height="50">
            </h5>
            <ul class="list-unstyled quick-links">
              <li>
                <p class=" m-0  m-0 p-footer ">{{ 'FOOTER.SENDMESSAGE' | translate}}</p>
                <img src="../../../assets/colombia.svg" alt="" width="30" height="30">
                <p></p>
                <a class=" m-0  m-0 p-footer"
                  href="mailto:colombia@criminallegalassociates.com">colombia@criminallegalassociates.com</a>
                <p></p>
                <img src="../../../assets/estados-unidos.svg" alt="" width="30" height="30">
                <p></p>
                <a class="m-0  m-0 p-footer"
                  href="mailto:unitedstates@criminallegalassociates.com">unitedstates@criminallegalassociates.com</a>
                <p></p>
                <img src="../../../assets/puerto-rico.svg" alt="" width="30" height="30">
                <p></p>
                <a class="m-0  m-0 p-footer"
                  href="mailto:puertorico@criminallegalassociates.com">puertorico@criminallegalassociates.com</a>
              </li>
            </ul>
          </div>
        </div>
        <!--Redes Sociales Iconos-->
        <!--
   <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
       <ul class="list-unstyled list-inline social text-center">
         <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-facebook"></i></a>
         </li>
         <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-twitter"></i></a>
         </li>
         <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-instagram"></i></a>
         </li>
         <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i
               class="fa fa-google-plus"></i></a></li>
         <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i
               class="fa fa-envelope"></i></a></li>
       </ul>
     </div>
     <hr>
   </div>
   -->
        <!--Derechos de Autor-->
        <p></p>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-left text-white">
            <p class="h6 text-white">Copyright © 2022,<a class="text-white ml-2"
                href="https://www.criminallegalassociates.com" target="_blank">Criminal Legal Associates.</a></p>
            <p></p>
            <p class="h6 text-white">Creado y Diseñado por<a class="text-white ml-2" href="tel:+573012145455"
                target="_blank">Ivan
                Ricardo Diaz C.</a></p>
          </div>
          <hr>
        </div>
      </div>
    </section>
  </section>
</ng-container>