@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.h-slider{
  height: 100%;
  width: 100%;
}







p{
  font-family: 'Montserrat', sans-serif;
}

h3, h2, h4, h5, h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
}

.areas{
  margin-top: 6rem;
}

.border-body{
  border-bottom: 5px solid goldenrod;
  border-radius: 10px;
  
}

.active-card:hover{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  transform: translateY(-15px);
  transition: transform .5s ease;
}

.active-card{
  border-radius: 10px;
  transform: translateY(0px);
  transition: transform .5s ease;
}

.estilo-letra{
  font-family: 'Montserrat', sans-serif;
}




.border-2{
  overflow: hidden;
  border: 3px solid #3380FF;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.title-help-legal{
  font-size: 1.875rem;
  text-align: left;
  line-height: 40px;
  padding: 10px 0;
}
.title-help-about{
  font-size: 1.875rem;
  text-align: left;
  line-height: 40px;
  padding: 10px 0;
}

.title-testimonio{
  text-align: center;
  font-size: 1.875rem;
  margin: 20px 0;
}

.contact{
  color: white;
}

.whatsapp{
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 99;
}

#contenedor{
  width: 90%; margin: 0 auto;
 
 
}
 
@media (max-width: 390px) {

  .areas {
    margin-top: 2rem;
    display: inline-block;
    width: 90%;
    }
.areas1 div{
    width: 100%;
}

}

/* Footer*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
    background: url("https://images.pexels.com/photos/6077123/pexels-photo-6077123.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); 
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    max-width: 100%;
    background-color: black;
}

body{
   /* background: #9c9c9c    !important;*/

    
  }

#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: white;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer p{
color: white;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:black;
}
#footer ul.social li a:hover{
	color:black;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}


