@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.h-slider{
  height: 100%;
  width: 100%;
}







p{
  font-family: 'Montserrat', sans-serif;
}

h3, h2, h4, h5, h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
}

.areas{
  margin-top: 6rem;
}

.border-body{
  border-bottom: 5px solid #3380FF;
  border-radius: 10px;
  
}

.active-card:hover{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  transform: translateY(-15px);
  transition: transform .5s ease;
}

.active-card{
  border-radius: 10px;
  transform: translateY(0px);
  transition: transform .5s ease;
}

.estilo-letra{
  font-family: 'Montserrat', sans-serif;
}




.border-2{
  overflow: hidden;
  border: 3px solid #3380FF;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.title-help-legal{
  font-size: 1.875rem;
  text-align: left;
  line-height: 40px;
  padding: 10px 0;
}
.title-help-about{
  font-size: 1.875rem;
  text-align: left;
  line-height: 40px;
  padding: 10px 0;
}

.title-testimonio{
  text-align: center;
  font-size: 1.875rem;
  margin: 20px 0;
}

.contact{
  color: white;
}

.whatsapp{
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 99;
}

#contenedor{
  width: 90%; margin: 0 auto;
 
 
}
#imagen{
  background-image: url("https://cdn.pixabay.com/photo/2017/06/09/22/56/lady-justice-2388500_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  max-width: max-content;
 }

 
 
@media (max-width: 390px) {

  .areas {
    margin-top: 2rem;
    display: inline-block;
    width: 90%;
    }
.areas1 div{
    width: 100%;
}

}

/*
Css footer
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.footer{
  
  
}
.col-9{
  opacity:1.0;
  filter:alpha(opacity=100);
}

@media(max-width: 390px){
.footer{
 word-break: break-word;
}
}

section{
  width: 100%;
}

.p-footer{
  font-family: 'Montserrat',
  sans-serif;
  
}

