<body id="imagen">
  <ng-container>
    <!-- Slider -->
    <!--
  <section id="contenedor" >
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active ">
          <img src="https://cdn.pixabay.com/photo/2017/06/09/22/56/lady-justice-2388500_960_720.jpg"
            class="d-block w-100 h-slider" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://cdn.pixabay.com/photo/2017/09/16/15/10/justice-2755765_960_720.jpg"
            class="d-block w-100 h-slider" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://cdn.pixabay.com/photo/2014/09/08/04/14/building-438617_960_720.jpg"
            class="d-block w-100 h-slider" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://cdn.pixabay.com/photo/2018/08/01/14/04/gavel-3577254_960_720.jpg"
            class="d-block w-100 h-slider" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
 -->
    <!-- Areas -->

    <section id="contenedor">
      <div class="areas">
        <div class="text-center">
          <h1 class="font-weight-light" style="color: white;">{{'OURSPECIALTIES' | translate}}</h1>
        </div>
        <div class="container-fluid mt-5">
          <div class="row d-flex justify-content-end">
            <div class="col-6 col-sm-4 col-md-4 col-md-2 col-lg-3 card-columns">
              <div class="card border-0 active-card" style="width: 12rem;">
                <div class="border px-1 py-4 rounded">
                  <img src="../../assets/mazo.svg" class="card-img-top" alt="criminales" width="60" height="60">
                </div>
                <div class="card-body mt-3 border-body pb-2 text-center">
                  <h5 class="card-title">{{'CRIMINALAW' | translate}}</h5>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-md-2 col-lg-3 card-columns">
              <div class="card border-0 active-card" style="width: 12rem;">
                <div class="border px-1 py-4 rounded">
                  <img src="../../assets/divorcio.svg" class="card-img-top" alt="criminales" width="60" height="60">
                </div>
                <div class="card-body mt-3 border-body pb-2 text-center">
                  <h5 class="card-title">{{'DIVORCES' | translate}}</h5>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-md-2 col-lg-3 card-columns">
              <div class="card border-0 active-card" style="width: 12rem;">
                <div class="border px-1 py-4 rounded">
                  <img src="../../assets/maletin.svg" class="card-img-top" alt="criminales" width="60" height="60">
                </div>
                <div class="card-body mt-3 border-body pb-2 text-center">
                  <h5 class="card-title">{{'INDUSTRIAL' | translate}}</h5>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-md-2 col-lg-3 card-columns">
              <div class="card border-0 active-card" style="width: 12rem;">
                <div class="border px-1 py-4 rounded">
                  <img src="../../assets/book.svg" class="card-img-top" alt="criminales" width="60" height="60">
                </div>
                <div class="card-body mt-3 border-body pb-2 text-center">
                  <h5 class="card-title">{{'CORPORATE' | translate}}</h5>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-md-2 col-lg-3 card-columns">
              <div class="card border-0 active-card" style="width: 12rem;">
                <div class="border px-1 py-4 rounded">
                  <img src="../../assets/hucha.svg" class="card-img-top" alt="criminales" width="60" height="60">
                </div>
                <div class="card-body mt-3 border-body pb-2 text-center">
                  <h5 class="card-title">{{'FINANCIAL' | translate}}</h5>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-md-2 col-lg-3 card-columns">
              <div class="card border-0 active-card" style="width: 12rem;">
                <div class="border px-1 py-4 rounded">
                  <img src="../../assets/choque-de-autos.svg" class="card-img-top" alt="criminales" width="60"
                    height="60">
                </div>
                <div class="card-body mt-3 border-body pb-2 text-center">
                  <h5 class="card-title">{{'ACCIDENTS' | translate}}</h5>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-md-2 col-lg-3 card-columns">
              <div class="card border-0 active-card" style="width: 12rem;">
                <div class="border px-1 py-4 rounded">
                  <img src="../../assets/yate.svg" class="card-img-top" alt="criminales" width="60" height="60">
                </div>
                <div class="card-body mt-3 border-body pb-2 text-center">
                  <h5 class="card-title">{{'PORT' | translate}}</h5>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-md-2 col-lg-3 card-columns">
              <div class="card border-0 active-card" style="width: 12rem;">
                <div class="border px-1 py-4 rounded">
                  <img src="../../assets/arboles.svg" class="card-img-top" alt="criminales" width="60" height="60">
                </div>
                <div class="card-body mt-3 border-body pb-2 text-center">
                  <h5 class="card-title">{{'ENVIRONMENTAL' | translate}}</h5>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- HELP -->
    <section id="contenedor">
      <div class="help">
        <div class="row m-0 p-0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 p-0 ">
            <div class="px-4" style="width: 100%; height: 100%;">
              <h1 class="text-white" style="text-align: center;">{{'NEEDHELPTITULO' | translate}}</h1>
              <h1 class="text-white title-help-legal pt-1 estilo-letra">{{'NEEDHELP' | translate}}</h1>
              <br>
              <br>
              <p class="text-white text-justify estilo-letra"> {{'NEEDHELP1' | translate}}</p>
              <br>
              <br>
              <p class="text-white text-justify estilo-letra">{{'NEEDHELP2'| translate}}</p>
              <br>
              <br>
              <p class="text-white text-justify estilo-letra">{{'NEEDHELP3'|translate}}</p>
              <br>
              <br>
              <p class="text-white text-justify estilo-letra">{{'NEEDHELP4'|translate}}</p>

            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6" style=" color: white;">
            <h1 class="text-white" style="text-align: center;">{{'WHY' | translate}}</h1>
            <p class="text-white text-justify estilo-letra">{{'WHY1' |translate}}</p>
            <div class="row m-0 p-0">
              <div class="col-12">
                <div class="row m-0 p-0">
                  <div class="col-md-2 d-flex justify-content-center p-0">
                    <div class="border-2 rounded-circle d-flex justify-content-center align-items-center mb-2">
                      <img src="../../assets/abogado.svg" alt="" srcset="" width="70" height="80">
                      |
                    </div>
                  </div>
                  <div class="col-md-10">
                    <h5 class="font-weight-bold estilo-letra">{{'TEAM' | translate}}</h5>
                    <p class="text-white text-justify estilo-letra">{{'TEAM1'|translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="row m-0 p-0">
                  <div class="col-md-2 d-flex justify-content-center p-0">
                    <div class="border-2 rounded-circle d-flex justify-content-center align-items-center mb-2">
                      <img src="../../assets/analisis.svg" alt="" srcset="" width="70" height="70">
                    </div>
                  </div>
                  <div class="col-md-10">
                    <h5 class="font-weight-bold estilo-letra">{{'BEST' | translate}}</h5>
                    <p class="text-white text-justify estilo-letra">{{'BEST1'|translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="row m-o p-0">
                  <div class="col-md-2 d-flex justify-content-center p-0">
                    <div class="border-2 rounded-circle d-flex justify-content-center align-items-center mb-2">
                      <img src="../../assets/reviews.svg" alt="" srcset="" width="70" height="80">
                    </div>
                  </div>
                  <div class="col-md-10">
                    <h5 class="font-weight-bold estilo-letra">{{'REVIEW' | translate}}</h5>
                    <p class="text-white text-justify estilo-letra">{{'REVIEW1'|translate}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contacto -->
    <section id="contenedor">
      <div class="contact pb-5">
        <h1 class="title-testimonio estilo-letra text-center pt-4">{{'CONTACTUS' | translate}}</h1>
        <div class="row m-0 p-0 d-flex justify-content-center mt-5">
          <div class="col-md-6">
            <form (ngSubmit)="guardar(formulario)" autocomplete="off" #formulario="ngForm" class="formulario">
              <div class="form-group">
                <label for="nombre" class="estilo-letra"> {{'LBL_NAME' | translate}}</label>
                <input type="text" class="form-control " id="nombre" [ngModel]="usuario.nombre" name="nombre">
              </div>
              <div class="form-group">
                <label for="telefono" class="estilo-letra"> {{'LBL_PHONE' | translate}}</label>
                <input type="number" class="form-control" id="telefono" [ngModel]="usuario.telefono" name="telefono"
                  minlength="8">
              </div>
              <div class="form-group">
                <label for="correo" class="estilo-letra"> {{'LBL_EMAIL' | translate}}</label>
                <input type="email" class="form-control" id="correo" [ngModel]="usuario.correo" name="correo">
              </div>
              <div class="form-group">
                <label for="mensaje" class="estilo-letra"> {{'LBL_MESSAGE' | translate}}</label>
                <textarea class="form-control" id="mensaje" rows="5" [ngModel]="usuario.mensaje"
                  name="mensaje"></textarea>
              </div>
              <button type="submit" class="btn btn-outline-primary outline rounded-pill btn-block">{{'BTN_SEND'
                |translate}}</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- footer-->
    

  <ng-container>
    <section class="footer" id="contenedor">
      <div class="row m-0 d-flex justify-content-center py-3 align-items-center">
        <div class="col-10 col-md-3 col-lg-4 mb-2">
          <div class="row m-0 p-0 d-flex align-items-center">
            <div class="col-3">
              <img src="../../../assets/phone.svg" alt="" width="50" height="50">
            </div>
            <div class="col-9 col-md-9">
              <p class="m-0 text-white p-footer">{{ 'FOOTER.CALLNOW' | translate}}</p>
              <img src="../../../assets/colombia.svg" alt="" width="30" height="30">
              <p></p>
              <a class="m-0 text-white p-footer" href="tel:+573012145455">(301) 582-0657</a>
              <p></p>
              <img src="../../../assets/estados-unidos.svg" alt="" width="30" height="30">
              <p></p>
              <a class="m-0 text-white p-footer" href="tel:+13054977656"> (305) 497-7656</a>
              <p></p>
              <img src="../../../assets/puerto-rico.svg" alt="" width="30" height="30">
              <p></p>
              <a class="m-0 text-white p-footer" href="tel:+10087874631363">(787) 463-1363</a>
              
            </div>
          </div>
        </div>
        <div class="col-10 col-md-3 col-lg-4 mb-2">
          <div class="row m-0 p-0 d-flex align-items-center">
            <div class="col-3">
              <img src="../../../assets/placeholder.svg" alt="" width="50" height="50">
            </div>
            <div class="col-9 col-md-9">
              <p class="text-white m-0 p-footer">{{ 'FOOTER.VISITOFFICE' | translate}}</p>
              <img src="../../../assets/colombia.svg" alt="" width="30" height="30">
              <p></p>
              <p class=" m-0 text-white m-0 p-footer">Cra 24 #35-43 Bucaramanga, Colombia</p>
              <p></p>
              <img src="../../../assets/estados-unidos.svg" alt="" width="30" height="30">
              <p></p>
              <p class="m-0 text-white m-0 p-footer"> 13727 SW 152 ST, suite 726 Miami, FL 33177</p>
              <p></p>
              <img src="../../../assets/puerto-rico.svg" alt="" width="30" height="30">
              <p></p>
              <p class=" m-0 text-white m-0 p-footer">Domenech 220 # 2036 San Juan, PR 00918</p>
            </div>
          </div>
        </div>
        <div class="col-10 col-md-3 col-lg-4 mb-2">
          <div class="row m-0 p-0 d-flex align-items-center">
            <div class="col-3">
              <img src="../../../assets/email.svg" alt="" width="50" height="50">
            </div>
            <div class="col-9 col-md-9">
              <p class=" m-0 text-white m-0 p-footer ">{{ 'FOOTER.SENDMESSAGE' | translate}}</p>
              <img src="../../../assets/colombia.svg" alt="" width="30" height="30">
              <p></p>
              <a class=" m-0 text-white m-0 p-footer" href="mailto:irdiaz97@hotmail.com">colombia@criminallegalassociates.com</a>
              <p></p>
              <img src="../../../assets/estados-unidos.svg" alt="" width="30" height="30">
              <p></p>
              <p class="m-0 text-white m-0 p-footer">unitedstates@criminallegalassociates.com</p>
              <p></p>
              <img src="../../../assets/puerto-rico.svg" alt="" width="30" height="30">
              <p></p>
              <p class="m-0 text-white m-0 p-footer">puertorico@criminallegalassociates.com</p>
            </div>
          </div>
        </div>
      
        <div class="col-12 mb-2">
          <div class="row m-0 d-flex  align-items-center pt-3">
            <div class="col-8 col-md-3 col-lg-3 p-0 text-white" >
              <a class="whatsapp" style="font-style: oblique;" href="https://api.whatsapp.com/send?phone=573012145455&text='Necesito%20asesoria%20para%20mi%20pagina%20web'" target="_blank">
              Creado por: Ivan Ricardo Diaz C.
              <br>
              <a>
                <img src="../../../assets/colombia.svg" alt="" width="20" height="20">
                 +57 (301-214-5455)
              </a>
            </a>
          </div>
            <div class="col-5 col-md-1 col-lg-1 p-0">
  
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
  
    <!-- WHATSAPP -->
    <div class="whatsapp">
      <a href="https://api.whatsapp.com/send?phone=13054977656&text='Necesito%20asesoria%20legal'" target="_blank">
        <img src="../../assets/whatsapp.png" alt="logo_whatsapp" srcset="" width="70">
      </a>
    </div>
  </ng-container>
</body>